img {
    cursor: pointer;
}

#hotels {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

div.scroll-container {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}
div.scroll-container img {
    padding: 10px;
}